<section flex="">
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height class="md-primary" md-center-tabs>
        <md-tab label="Add Quiz">
          <md-content class="md-padding">
            <div>
              <div class="form-floating my-2">
                <textarea ng-model="ixoQuiz.question" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">Write Your Question</label>
              </div>
            </div>
            <!-- Question End -->



            <!-- 4 Options Starts -->
            <div>
              <div class="input-group flex-nowrap my-2 col">
                <span class="input-group-text" id="addon-wrapping">(A)</span>
                <input ng-model="ixoQuiz.quizOptions.option_I" id="idOption1" type="text" class="form-control" placeholder="Option 1" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>

              <div class="input-group flex-nowrap col">
                <span class="input-group-text" id="addon-wrapping">(B)</span>
                <input ng-model="ixoQuiz.quizOptions.option_II" id="idOption2" type="text" class="form-control" placeholder="Option 2" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>

              <div class="input-group flex-nowrap my-2 col">
                <span class="input-group-text" id="addon-wrapping">(C)</span>
                <input ng-model="ixoQuiz.quizOptions.option_III" id="idOption3" type="text" class="form-control" placeholder="Option 3" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>

              <div class="input-group flex-nowrap col">
                <span class="input-group-text" id="addon-wrapping">(D)</span>
                <input ng-model="ixoQuiz.quizOptions.option_IV" id="idOption4" type="text" class="form-control" placeholder="Option 4" aria-label="Username"
                  aria-describedby="addon-wrapping">
              </div>
              <!-- 4 Options Ends -->
            </div>
            <!-- Correct Answer -->
            <div class="row">
              <div class="col">
                <h6>Select correct Answer</h6>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" value=1 ng-model="selectedOption" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio1">(A)</label>

                  <input type="radio" value=2 ng-model="selectedOption" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio2">(B)</label>

                  <input type="radio" value=3 ng-model="selectedOption" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio3">(C)</label>

                  <input type="radio" value=4 ng-model="selectedOption" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnradio4">(D)</label>
                </div>
              </div>
              <div class="col">
                <h6>Select Category</h6>
                <select ng-model="ixoQuiz.category" ng-init="ixoQuiz.category = quizCategories[0]" ng-options="item for item in quizCategories" class="form-select">
                  
                </select>
              </div>
            </div>
            <!-- Correct Answer Ends-->

            <!-- Explanation Box Starts -->
            <div class="form-floating my-2">
              <textarea ng-model="ixoQuiz.ansDescription" class="form-control" placeholder="Leave a comment here" id="floatingTextarea3"
                style="height: 100px"></textarea>
              <label for="floatingTextarea3">Explain your Answer (If Required)</label>
            </div>
            <!-- Explanation End -->

            <button class="btn btn-outline-primary" ng-click="addQuiz()" id="allSubmit">Add Quiz</button>

            <!-- add quiz button -->
          </md-content>
        </md-tab>

        <md-tab label="Add Category">
          <md-content class="md-padding">
            <h2 class="md-display-1">Add Category</h2>
            <p class="md-body-1">
              Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa
              orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in
              condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim,
              at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus.
            </p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</section>